$top-bar-background: #ffffff;
$white: #ffffff;
$background-color: #6b1a3a;
$link-color: #732443;
$link-bordercolor: #f67f00;
$link-border: 4px solid $link-bordercolor;

body {
  background: white;
  font-size: 16px;
  font-family: ProximaNova-Regular;
}

.title-bar {
  background-color: #ffffff;
}

.top-bar {
  padding: 0;
  margin-bottom: -20px;
  background-color: $top-bar-background;

  ul {
    background-color: $top-bar-background;
    font-size: 14px;

    .is-active {
      border-bottom: $link-border;
      margin-bottom: -19px;
      a {
        background: $top-bar-background;
      }
    }
  }

  .top-bar-right {
    padding: 0;
    background: $top-bar-background;
    a {
      color: $link-color;
    }
    img {
      height: 50px;

    }
  }
  .top-bar-left {
    padding: 0;
    img {
      height: 50px;
      margin: -4px auto;

    }

  }
  button {
    background-color: $link-bordercolor;
    .menu-icon {
      background-color: red;
    }
  }
}

.index {
  height: 570px;
  background-image: url("/images/index.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .grid-container {
    height: 570px;

  }

  .index-content {
    position: relative;
    top: 50%;
    p {
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: left;
      color: #fefefe;

      line-height: 1.3em;

      font-size: 36px;
      font-weight: 200;

      letter-spacing: 1px;
      margin-top: 25px;

    }

    button {
      background: $link-bordercolor;
      color: $white;
      font-size: 14px;
      font-weight: bold;
      margin-top: 40px;
      padding: 15px;

    }
  }
}

.nse-rates-ticker {

  margin-bottom: 30px;
  background-color: #f7f7f7;
  min-height: 50px;
  .nse-title {
    padding: 10px;
    background: $background-color;
    color: $white;
    p {
      position: relative;
      font-size: 12px;
      font-weight: 800;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .nse-content {
    padding: 5px 5px 5px 5px;
    .nse-list li a {
      text-transform: uppercase;
      color: #2f2f2f;
      font-size: 16px;
      font-weight:200;
      #backlays {
        color: #002dff;
      }
      #bihl {
        color: #fd1000;
      }
      #btcl {
        color: #ab18e8;
      }
      #chobe {
        color: #ffb400;
      }
      #choppies {
        color: #138b03;
      }
      #cresta {
        color: #fa6969;
      }
    }
  }
}

.stock-brokage {
  margin-bottom: 35px;

  .stock-brokage-left {
    min-height: 310px;
    background-color: $background-color;
    color: $white;
    padding: 40px 40px 0px 40px;
    h4 {
      color: #ffffff;
    }
    p {
      color: #ffffff;
      font-size: 18px;
      line-height: 1.2em;
      padding: 10px;
      font-weight: lighter;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
    }

    button {
      background: $link-bordercolor;
      color: $white;
      font-size: 14px;
      font-weight: bold;
      margin-top: 25px;
      padding: 15px;

    }
  }
  .stock-brokage-right {
    height: 310px;
    color: $white;
    padding: 40px;
    background: #cccccc;
    background-image: url("/images/phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }
  .mobileTitle {
    color: white;
    position: relative;
    font-size: 28px;
    margin-top: 40%;
    margin-left: -25px;

  }
}

.in-the-news {
  background: #f7f7f7;
  .grid-container {
    padding-bottom: 40px;
  }

  .news-title {
    h5 {
      padding-top: 30px;
      text-transform: uppercase;
      color: #3d3d3d;
      font-weight: 500;
      margin-bottom: 0px;
    }

  }

  .more-btn {
    a {
      float: right;
      margin-top: 30px;
      background-color: #dbdbdb;
      color: #3d3d3d;
      font-weight: 300;
      padding: 15px;
    }

  }

}

.news-content {

  .card {
    min-height: 280px;
    .card-divider {
      background-color: #4f132c;
      color: $white;
      height: 150px;
      .news-head {
        padding: 30px 30px 0px 10px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .card-section {
      min-height: 110px;
      p {
        padding: 4px 0px 4px 10px;

        font-size: 18px;
        font-weight: 100;
        line-height: 1.2em;
        color: #292929;
      }

    }
    .card-footer {
      margin: 0px;
      padding: 0px;


      p {
        font-size: 12px;
        text-align: right;
        padding-right: 0px;
        margin: 0px 10px 10px 15px;

        color: #818181;
      }
    }
  }

}

.fixed-income {
  min-height: 440px;
  background-color: #e9e2e5;
  background-image: url("/images/home.jpg");
  background-size: cover;

  .fixed-income-left {
    min-height: 440px;
  }
  .fixed-income-right {
    min-height: 300px;
    position: relative;
    border-top: 5px solid #f87e01;
    background-color: #561533;
    opacity: 0.9;
    padding: 10px 40px;
    color: $white;

    h2 {
      font-size: 36px;
      font-weight: 200;
      color: #fefefe;
      line-height: 1.3;
      letter-spacing: 1px;
      margin-top: 25px;
    }
    button {
      background-color: $link-bordercolor;
      margin-top: 20px;
      color: #ffffff;
      font-weight: 300;
      padding: 15px;
    }
  }
}

.our-fiduciary {
  background: white;

  .fiduciary-title {
    min-height: 420px;
    font-size: 36px;
    font-weight: 200;
    color: #444444;
    line-height: 1.3;
    letter-spacing: 1px;
    margin-top: 25px;

    padding: 20px;
    h2 {
      font-size: 36px;
      font-weight: 200;
      color: #444444;
      margin-top: 25px;
    }
    button {
      background: #000000;
      margin-top: 15px;
      padding: 15px;

    }
  }
  .fiduciary-image {
    min-height: 420px;
    background-image: url("/images/map.jpg");
    background-repeat: no-repeat;
    background-position: center;

  }

}

.footer-section {
  background: #000000;
  color: #ffffff;

  hr {
    border-bottom: 1px solid #343434;

  }

  .upper-foot {
    padding-top: 20px;
    .social-button {

      ul {
        float: left;
        li {
          line-height: 1.5em;
        }
      }

      .social-title {
        h6 {
          font-weight: 500;
          font-size: 14px;
          padding-top: 50px;
        }
        img{
          padding-top: 10px;
        }
      }
    }

    .footer-inquires {

      .title {
        color: $link-bordercolor;
        text-align: left;
        width: 300px;
        float: right;
        font-size: 16px;
        font-weight: 800;
        padding-top: 50px;
      }

    }
  }

  .footer-links {
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 14px;

    .businessfoot1 {
      ul {
        line-height: 2.5em;
      }
      h6 {
        font-weight: 600;
        size: 16px;
      }

    }
    .businessfoot2 {

    }
    .businessfoot3 {
      .footer-logo {
        float: right;
        color: #3c3c3c;
        img{
          height: 100px;
        }


      }
      .subscribeform {
        position: relative;
        margin-top: 60px;
        input {
          background-color: #1a1a1a;
          border-color: #1a1a1a;
          padding: 15px;
          height: 50px;

        }
        input[placeholder]{
          color: #747474;
        }
        .button {
          background-color: $link-bordercolor;
          width: 100%;
          color: $background-color;
          .btn {
            color: white;
            margin-top: 20px;


          }
        }

      }
      .subscribe-title {
        font-size: 16px;
        font-weight: 600;

      }
    }

  }
  .lower-foot {
    font-size: 14px;
    .copyright {
      padding-top: 15px;
      .title {
        color: $white;
        font-weight: 200;
        width: 300px;

        float: right;

      }

    }

  }

}







